{% extends "basis.html" %}{% import "_formular.html" as form %}{% block titel %}{{ art.gruppe }}{% endblock %}
{% block inhalt %}
{% set neu = not g.get('id') %}
<p class="pfad"><a href="/anlagen">Anlagen</a> › <a href="/anlagen/{{ a.id }}">{{ a.nummer }} {{ a.adr_strasse }}</a> ›
  {% if neu %}neu{% else %}{{ art.gruppe }} {{ g.get('nummer') }}{% endif %}</p>
<h1>{% if neu %}{{ art.gruppe }} anlegen{% else %}{{ art.gruppe }} bearbeiten{% endif %}</h1>
{% if request.query_params.get('hinweis') == 'angelegt' %}<p class="ok">{{ art.gruppe }} angelegt. Nächste eingeben:</p>{% endif %}
{% if fehler %}<p class="fehler">Bitte die markierten Felder prüfen.</p>{% endif %}
<form method="post" action="{{ '/anlagen/' ~ a.id ~ '/gruppen/neu' if neu else '/gruppen/' ~ g.id }}" class="karte raster">
  <input type="hidden" name="csrf_token" value="{{ csrf }}">
  {{ form.felder(felder, g, fehler, {'nummer': vorschau} if neu else {}) }}
  <div class="breit knopfzeile">
    <button>Speichern</button>
    {% if neu %}<button name="weiter" value="1" class="zweitrangig">Speichern und nächste anlegen</button>{% endif %}
    <a href="/anlagen/{{ a.id }}{{ '#wohnungen' if neu else '#g-' ~ g.id }}">Abbrechen</a>
  </div>
</form>
{% if not neu %}
<div class="nebenbei">
  <a class="knopf zweitrangig" href="/gruppen/{{ g.id }}/kopieren">{{ art.gruppe }} kopieren (gleicher Grundriss)</a>
</div>
<div class="nebenbei">
  {{ form.loeschen('/gruppen/' ~ g.id ~ '/loeschen', csrf, art.gruppe ~ ' ' ~ g.nummer ~ ' wirklich löschen?', art.gruppe ~ ' löschen') }}
  <span class="leise">Nur möglich, solange keine {{ art.komponente_mehrzahl }} verbaut sind.</span>
</div>
{% endif %}
{% endblock %}
